/*Aqui va los comentarios*/
/*
Negro: 21241F
Celeste: 7C8DA2
Azul: 1F3752
Blanco: E7E9E4
gris: 585851
*/

.container{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}


h1{
    color: rgb(0, 81, 255);
}

.blue{
    height: 200px;
    width: 750px;
    background-color: rgb(28, 13, 163)
}

#btn-pago{
    background-color: yellowgreen;
}

td{
    border: solid 1px;
}

h2{
    background-color: aquamarine;
}